# 디렉토리 제외
elpa/      
auto-save-list/       
org-persist/

# 특정 파일 제외
*.log        # 모든 .log 파일 제외
*.tmp        # 모든 .tmp 파일 제외
*.*~
history
places
recentf
tramp
*.md

# 특정 파일 제외 (루트 디렉토리에서만)
!.gitignore  # .gitignore 파일은 제외하지 않음 (특정 파일 포함시키기)

# 특정 파일이나 디렉토리 포함
!lisp/   # lib 디렉토리 내의 important.log 파일은 추적

# 특정 패턴 제외
*.bak        # 모든 .bak 백업 파일 제외
*.swp        # Vim 임시 파일 제외

# 시스템 파일 제외
.DS_Store    # macOS에서 생성되는 파일 제외
Thumbs.db    # Windows에서 생성되는 파일 제외

# 환경 설정 파일 제외
.env         # 환경 변수 설정 파일 제외
